<div class="left-panel">
  <ul>
    <li>
      <a routerLink="/">
          <i class="fa fa-check" aria-hidden="true"></i>Subscribed
      </a>        
    </li>
    <li>
      <a routerLink="/">
          <i class="fa fa-star-o" aria-hidden="true"></i>Category 1
      </a>        
    </li>
    <li>
      <a routerLink="/">
          <i class="fa fa-star-o" aria-hidden="true"></i>Category 2
      </a>        
    </li>
    <li>
      <a routerLink="/">
          <i class="fa fa-star-o" aria-hidden="true"></i>Category 3
      </a>        
    </li>
    <li>
      <a routerLink="/">
          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
      </a>        
    </li>
    <li>
        <div class="menu-item" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="category1">
          <i class="fa fa-star" aria-hidden="false"></i>Category Group 1
        </div>
        <div id="category1" [ngbCollapse]="!isCollapsed">
            <ul>
                <li>
                      <a routerLink="/">
                          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                      </a>   
                  </li>
                  <li>
                      <a routerLink="/">
                          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                      </a>   
                  </li>
                  <li>
                      <a routerLink="/">
                          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                      </a>   
                  </li>
                  <li>
                      <a routerLink="/">
                          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                      </a>   
                  </li>
              </ul> 
          </div>
                  
    </li>
    <li>
        <div class="menu-item" (click)="isCollapsed2 = !isCollapsed2"
          [attr.aria-expanded]="!isCollapsed2" aria-controls="category2">
          <i class="fa fa-star" aria-hidden="false"></i>Category Group 2
        </div>
        <div id="category2" [ngbCollapse]="!isCollapsed2">
            <ul class="sub">
                <li>
                      <a routerLink="/">
                          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                      </a>   
                  </li>
                  <li>
                      <a routerLink="/">
                          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                      </a>   
                  </li>
                  <li>
                      <a routerLink="/">
                          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                      </a>   
                  </li>
                  <li>
                      <a routerLink="/">
                          <i class="fa fa-star-o" aria-hidden="true"></i>Category 4
                      </a>   
                  </li>
              </ul> 
          </div>                  
    </li>
  </ul>
  <ul class="other">
      <li>
        <a routerLink="/">
            <i class="fa fa-phone" aria-hidden="true"></i>Contact us
        </a>
      </li>
      <li>
        <a routerLink="/">
            <i class="fa fa-send" aria-hidden="true"></i>Advertise with us
        </a>
      </li>
  </ul>
  <h3 class="heading">Invite a friend</h3>
  <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Type email" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
      </div>
</div>