@mixin gradient(){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,bed1ee+100 */
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #bed1ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#bed1ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcfcfc 0%,#bed1ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#bed1ee',GradientType=0 ); /* IE6-9 */
}