// padding, margin and radius
$padding : 10px;
$border-radius: 5px;

// color
$color-1: #3259ad;
$color-2: #616770;
$color-black: #363636;
$color-white: #fff;

//font-size
$font-size-small: 14px !default;
$font-size-default: 15px !default;
$font-size-medium: 17px !default;
$font-size-large: 20px !default;

$font-default : 'Open Sans', sans-serif;