@import '~sass/variables';
@import '~sass/mixins';
.main-header{
    @include gradient();
    border-bottom: 1px solid $color-border-dark;
    a:hover{
        text-decoration: none;
    }
}
.header-container{
    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
    .brand-logo{
        padding-top: $padding*1.5;
        padding-bottom: $padding*1.5;
    }
    .right-sec{
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
        .drop-wrap{
            color: $color-1;
            position: relative;
            padding-left: $padding*1.5;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            .dropdown{
                @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                position: initial;
                .drop-down{
                    cursor: pointer;
                    position: initial;
                    font-weight: bold;
                    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
                    padding:$padding / 2;
                    border-radius: $border-radius;
                    &:hover{
                        background: transparentize($color-white,.95);
                        @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                    }
                    .pic{
                        width: 40px;
                        height: 40px;
                        background-position: center !important;
                        background-size: cover !important;
                        border-radius: 50px;
                        border: 1px solid $color-border-light;
                        display: inline-block;
                        margin-right: $padding;
                    }
                    &:after{
                        margin-left: $padding/2;
                        margin-top: $padding/2;
                    }
                }
                &.show {
                    .drop-down{
                        background: transparentize($color-white,.95);
                        @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                    }
                }
                .dropdown-menu{
                    top: 100% !important;
                    border-color: $color-border;
                    &:after{
                        content: '';
                        position: absolute;
                        border-bottom: 10px solid $color-white;
                        border-left: 10px transparent solid;
                        border-right: 10px transparent solid;
                        bottom: 100%;
                        right: $padding ;
                        margin-bottom: -1px;
                    }
                    &:before{
                        content: '';
                        position: absolute;
                        border-bottom: 10px solid $color-border;
                        border-left: 10px transparent solid;
                        border-right: 10px transparent solid;
                        bottom: 100%;
                        right: $padding ;
                    }
                }
            }
        }
        .notif-wrap{
            color: $color-1;
            position: relative;
            padding: 0 $padding*1.5;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            &:before{
                content: '';
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                bottom: 0;
                height: 25px;
                width: 2px;
                background: transparentize($color-white , .9);
                border-right: 1px solid $color-border-light;
                margin: auto;
            }
            &:after{
                content: '';
                position: absolute;
                display: block;
                right: 0;
                top: 0;
                bottom: 0;
                height: 25px;
                width: 2px;
                background: transparentize($color-white , .9);
                border-right: 1px solid $color-border-light;
                margin: auto;
            }
        }
        .menus-wrap{
            color: $color-1;
            position: relative;
            padding: 0 $padding*1.5;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            a{
                line-height: 40px;
                padding:$padding / 2;
                border-radius: $border-radius;
                font-weight: bold;
                display: block;
                &:hover{                    
                    background: transparentize($color-white,.95);
                    @include box-shadow($top:0, $left:0px, $blur:4px, $color:rgba(0, 0, 0, 0.05), $inset: true);
                }
            }
        }        
        .search-wrap{
            color: $color-1;
            position: relative;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
        }  
    }
}