@import '~sass/variables';
@import '~sass/mixins';
.main-header{
    @include gradient();
    border-bottom: 1px solid $color-border;
}
.header-container{    
    @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
    .brand-logo{
        padding-top: $padding*1.5;
        padding-bottom: $padding*1.5;
    }
    .right-sec{
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
        .drop-down{
            cursor: pointer;
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            .pic{
                width: 40px;
                height: 40px;
                background-position: center !important;
                background-size: cover !important;
                border-radius: 50px;
                border: 1px solid $color-border-light;
                display: inline-block;
            }
        }        
    }
}