@import '~sass/variables';
@import '~sass/mixins';
.main-header{
    @include gradient();
    border-bottom: 1px solid transparentize($color-black, .7);
}
.header-container{
    padding-top: $padding*1.5;
    padding-bottom: $padding*1.5;
}