<header class="main-header">
  <div class="app-container">
    <div class="header-container">
        <div class="brand-logo">
            <a routerLink="/"><img src="../../assets/images/happy-equities-logo.png" alt="logo"></a>          
        </div>
        <div class="right-sec">
          <div class="search-wrap">
            <app-main-search></app-main-search>
          </div>
          <div class="menus-wrap">
              <a routerLink="/">Home</a>
          </div>
          <div class="notif-wrap">
              <app-notification></app-notification>              
          </div>
          <div class="drop-wrap">
              <div ngbDropdown placement="bottom-right" class="d-inline-block">
                  <div class="drop-down" id="userPro" ngbDropdownToggle>
                    <div class="pic" style="background-image: url(../../assets/images/pro-pic-01.jpg)"></div>
                    User Name
                  </div>
                  <div ngbDropdownMenu aria-labelledby="userPro">
                    <ul>
                      <li><a routerLink="/user">View Profile</a></li>
                      <li><a routerLink="/">Another Action</a></li>
                      <li><a routerLink="/">Logout</a></li>
                    </ul>
                  </div>
                </div>
          </div>

        </div>
    </div>    
  </div>
</header>
<router-outlet></router-outlet>
