<div class="create-post">
  <div class="head">
    Create Post
  </div>
  <div class="body">
    <div class="pic" style="background-image: url(../../assets/images/pro-pic-01.jpg)"></div>
    <div class="right">
      <textarea placeholder="Write something here"></textarea>
    </div>
  </div>
  <div class="body last">
    <div class="left-icon">
      <i class="fa fa-picture-o"></i> Picture - 
      <i class="fa fa-video-camera"></i> Video - 
      <i class="fa fa-file-pdf-o"></i> PDF
    </div>
    <div class="right-icon">
      <i class="fa fa-ellipsis-h"></i>
    </div>
  </div>
</div>