<div ngbDropdown placement="bottom-right" class="d-inline-block">
    <div class="drop-down" id="notifications" ngbDropdownToggle>
      <i class="fa fa-bell" aria-hidden="true"></i>
    </div>
    <div ngbDropdownMenu aria-labelledby="notifications">
      <div class="head">
          Notifications
      </div>
      <ul class="body">
        <li>
            <div class="pic" style="background-image: url(../../assets/images/pro-pic-01.jpg)"></div>
            <div class="right">
              <div class="body">
                <span class="name">Emil Paul</span>
                <span class="function"> likes your photo.</span>
              </div>
              <div class="body">

              </div>
            </div>
        </li>
        <li>
            <div class="pic" style="background-image: url(../../assets/images/pro-pic-01.jpg)"></div>
            <div class="right">
              <div class="body">
                <span class="name">Emil Paul</span>
                <span class="function"> likes your photo.</span>
              </div>
              <div class="body">

              </div>
            </div>
        </li>
        <li>
            <div class="pic" style="background-image: url(../../assets/images/pro-pic-01.jpg)"></div>
            <div class="right">
              <div class="body">
                <span class="name">Emil Paul</span>
                <span class="function"> likes your photo.</span>
              </div>
              <div class="body">

              </div>
            </div>
        </li>
      </ul>
      <div class="footer">
        <a routerLink="/">View all</a>
      </div>
    </div>
  </div>