<div class="item-wrap">
  <div class="item">
      <div class="pic" style="background-image: url(assets/images/pro-pic-03.jpg)"></div>
      <div class="right">
          <div class="body">
              <div class="left">
                <a class="name" routerLink="/profileview">Emil Paul</a>
                <span class="text">Awesome post</span>
              </div>
              <div class="left">
                  <div class="options">
                      <div ngbDropdown placement="bottom-right" class="d-inline-block">
                          <span id="dropdownBasic1" ngbDropdownToggle>
                              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                          </span>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button class="dropdown-item">Edit</button>
                            <button class="dropdown-item">Delete</button>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
        <div class="body2">
          <span class="replay" (click)="toggleRplyComment()">Reply</span>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          <span>March 13 at 9:22am</span>
        </div>        
      </div>
    </div>
    <div class="item replay">
      <div class="pic" style="background-image: url(assets/images/pro-pic-03.jpg)"></div>
        <div class="right">
          <div class="body">
            <div class="left">
              <a class="name" routerLink="/profileview">Emil Paul</a>
              <span class="text">Awesome post</span>
            </div>
            <div class="left">
                <div class="options">
                    <div ngbDropdown placement="bottom-right" class="d-inline-block">
                        <span id="dropdownBasic1" ngbDropdownToggle>
                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                        </span>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <button class="dropdown-item">Edit</button>
                          <button class="dropdown-item">Delete</button>
                        </div>
                      </div>
                </div>
            </div>
          </div>
          
          <div class="body2">
            <span class="replay" (click)="toggleRplyComment()">Reply</span>
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span>March 13 at 9:22am</span>
          </div>        
        </div>
    </div>
    <div class="item replay comment" [ngClass]="{'active': toggleRplay}">
        <div class="pic" style="background-image: url(assets/images/pro-pic-02.jpg)"></div>
        <div class="mid">
            <textarea rows="1" class="form-control" placeholder="Write a comment.."></textarea>
          </div>
          <div class="last">
            <button class="btn btn-primary btn-sm">Post</button>
          </div>
    </div>
</div>