@import '~sass/variables';
@import '~sass/mixins';
.app-container{
    .row{
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:stretch);
        .content-area{
            width: 70%;
            padding-left: $padding*2/3;
            padding-right: $padding*2/3;
        }
        .main-footer{
            width: 30%;
            padding-left: $padding*2/3;
            padding-right: $padding*2/3;
        }
    }
}