<div class="post-wrap">
  <div class="head">
    <div class="pic" style="background-image: url(../../assets/images/pro-pic-03.jpg)"></div>
    <div class="right">
      <div class="body">
          <a class="name" routerLink="/profileview">Emil Paul</a>
        <span class="function"></span>
      </div>
      <div class="body2">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span>March 13 at 9:22am</span>
        <span class="space"> - </span>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        <span>Category One</span>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="item-wrap">
      <img src="../../assets/images/post-1.jpg" alt="post">
    </div>
  </div>
  <div class="footer">
    <div class="count-wrap">
      <div class="like">12 Likes</div>
      <div class="comment">44 Comments</div>
    </div>
    <div class="like-wrap">
      <div class="like" [ngClass]="{'liked': toggleLike}" (click)="toggleLike = !toggleLike">
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        <!-- Like -->
      </div>
      <div class="comment" [ngClass]="{'active': toggleCommented}" (click)="toggleCommented = !toggleCommented">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        Comment
      </div>
      <div class="follow" [ngClass]="{'followed': toggleFollowed}" (click)="toggleFollowed = !toggleFollowed">
        <i class="fa fa-check" aria-hidden="true"></i>
        <!-- Follow -->
      </div>
    </div>
  </div>
  <div class="comment-wrap">
    <div class="commented">
        <div class="item-wrap">
            <div class="item">
                <div class="pic" style="background-image: url(../../assets/images/pro-pic-03.jpg)"></div>
                <div class="right">
                  <a class="name" routerLink="/profileview">Emil Paul</a>
                  <span class="text">Awesome post</span>
                  <div class="body2">
                    <span class="replay" (click)="toggleRplay = !toggleRplay">Reply</span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>March 13 at 9:22am</span>
                  </div>        
                </div>
              </div>
              <div class="item replay">
                <div class="pic" style="background-image: url(../../assets/images/pro-pic-03.jpg)"></div>
                  <div class="right">
                    <a class="name" routerLink="/profileview">Emil Paul</a>
                    <span class="text">Awesome post</span>
                    <div class="body2">
                      <span class="replay" (click)="toggleRplay = !toggleRplay">Reply</span>
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                      <span>March 13 at 9:22am</span>
                    </div>        
                  </div>
              </div>
              <div class="item replay comment" [ngClass]="{'active': toggleRplay}">
                  <div class="pic" style="background-image: url(../../assets/images/pro-pic-02.jpg)"></div>
                  <div class="mid">
                      <textarea rows="1" class="form-control" placeholder="Write a comment.."></textarea>
                    </div>
                    <div class="last">
                      <button class="btn btn-primary btn-sm">Post</button>
                    </div>
              </div>
        </div>
      <div class="item-wrap">
          <div class="item">
              <div class="pic" style="background-image: url(../../assets/images/pro-pic-03.jpg)"></div>
              <div class="right">
                <a class="name" routerLink="/profileview">Emil Paul</a>
                <span class="text">Awesome post</span>
                <div class="body2">
                  <span class="replay" (click)="toggleRplay1 = !toggleRplay1">Reply</span>
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span>March 13 at 9:22am</span>
                </div>        
              </div>
            </div>
            <div class="item replay">
              <div class="pic" style="background-image: url(../../assets/images/pro-pic-03.jpg)"></div>
                <div class="right">
                  <a class="name" routerLink="/profileview">Emil Paul</a>
                  <span class="text">Awesome post</span>
                  <div class="body2">
                    <span class="replay" (click)="toggleRplay1 = !toggleRplay1">Reply</span>
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>March 13 at 9:22am</span>
                  </div>        
                </div>
            </div>
            <div class="item replay comment" [ngClass]="{'active': toggleRplay1}">
                <div class="pic" style="background-image: url(../../assets/images/pro-pic-02.jpg)"></div>
                <div class="mid">
                    <textarea rows="1" class="form-control" placeholder="Write a comment.."></textarea>
                  </div>
                  <div class="last">
                    <button class="btn btn-primary btn-sm">Post</button>
                  </div>
            </div>
      </div>
    </div>
    <div class="comment" [ngClass]="{'active': toggleCommented}">
      <div class="pic" style="background-image: url(../../assets/images/pro-pic-01.jpg)"></div>
      <div class="mid">
        <textarea rows="1" class="form-control" placeholder="Write a comment.."></textarea>
      </div>
      <div class="last">
        <button class="btn btn-primary btn-sm">Post</button>
      </div>
    </div>
  </div>
</div>
