@import '~sass/variables';
@import '~sass/mixins';
.post-wrap{
    border: 1px solid $color-border;
    border-radius: $border-radius;
    background: $color-white;
    margin-top: $padding*4/3;
    .head{
        padding: $padding;
        @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
        .pic{
            @include pro-pic();
        }
        .right{
            @include flex-self($value:1 1 auto);
            .name{
                font-weight: bold;
            }
            .body2{
                font-size: 90%;
                color: $color-2;
                i{
                    padding-right: $padding/4;
                }
            }
        }  
    }
    >.body{
        padding: 0 $padding;
        .item-wrap{
            max-height: 500px;
            overflow: hidden;
            img,video{
                width: 100%;
                height: auto;
            }  
        }        
    }
    >.footer{
        padding: 0 $padding;
        .count-wrap{
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            >div{
                @include flex-self($value:0 1 auto);
                padding: $padding/2 0;
                cursor: pointer;
                color: $color-2;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .like-wrap{
            @include flex-master($flex-direction:row,$flex-wrap:nowrap,$align-content:stretch,$align-items:center);
            border-top: 1px solid $color-border;
            >div{
                @include flex-self($value:0 1 33.33333%);
                text-align: center;
                cursor: pointer;
                padding: $padding/2 0;
                font-size: 105%;
            }
        }
    }
}