<div class="post-wrap">
  <div class="head">
    <div class="pic" style="background-image: url(../../assets/images/pro-pic-02.jpg)"></div>
    <div class="right">
      <div class="body">
        <span class="name">Emil Paul</span>
        <span class="function">likes your photo.</span>
      </div>
      <div class="body2">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <span>Yesterday at 4:41pm</span>
      </div>
    </div>
  </div>
  <div class="body">

  </div>
  <div class="footer">

  </div>
</div>
